<div class="loc">
	<div class="task_location" style="width:75%;float:left;">
	  <% new_or_existing = task_location.new_record? ? 'new' : 'existing' %>
	  <% prefix = "job[#{new_or_existing}_task_location_attributes][]" %>
    <% task_location.country_id = 208 if task_location.new_record? %>
	  <% fields_for prefix, task_location do |task_location_form| %>
	    
		<table width="100%">
			<tr><td>Location Name:</td><td><%= task_location_form.text_field :address_name %></td></tr>
			<tr><td>Contact: </td><td><%= task_location_form.text_field :contact_name %> </td></tr>
			<tr><td>Phone: </td><td><%= task_location_form.text_field :phone %> </td></tr>
			<tr><td> Address:</td><td><%= task_location_form.text_field :address1 %> </td></tr>
			<tr><td> City: </td><td><%= task_location_form.text_field :city %> </td></tr>
			<tr><td>State: </td><td>  <%= task_location_form.text_field :state %> </td></tr>
			<tr><td>Zipcode: </td><td> <%= task_location_form.text_field :zipcode %></td></tr>
			<tr><td>Country: </td><td><%= task_location_form.collection_select :country_id, Country.find(:all), :id, :name, {:include_blank=>'Please select'}%> </td></tr>
		</table>
	  <% end %>
	</div>
	<% task_location_id = task_location.id.nil? ? '' : task_location.id%>
	<div style="width:25%;float:left;"><%#=link_to 'Remove', '#;', {:onclick=>"remove_fields(this, '#{task_location_id}')",:class=>"remove_link"}%> 
	<%= link_to_function "remove" , "$(this).up('.loc').remove()", :class=>"remove_link" %> </div>
	<div style="clear:both;"></div>
</div>