<script type="text/javascript">
  window.interestFormIndex = 0;
</script>
<style>
  .fieldWithErrors{
    display: inline;
  }
</style>

<div style="width:520px;padding: 40px 0 0 130px;">
  <% form_remote_tag(:url => interests_path,
    :loading => "$('add_new_interest_form_process_ajax_loader').show()",
    :success => "$('add_new_interest_form_process_ajax_loader').hide()") do %>
    <div id="interest_fields">
      <div class="interest_field">
        <p>
        <div style="float:left;width:150px;"><b>Name:</b></div>
        <span id="interest_name_cant_be_blank_0" style="display: none"><div style="float: right; width:350px; color: red">Name can't be blank</div></span>
        <span id="interest_name_must_unique_0" style="display: none"><div style="float: right; width:350px; color: red">Name must be uniqueness</div></span>
        <div style="float: right; width:350px;">
          <%= text_field_tag "interest[0][name]", nil,
            :onchange => "validateFieldCantBeBlank('interest_0_name', 'interest_name_cant_be_blank_0')" %>
        </div>
        <div style="clear:both;"></div>
        </p>
        <p>
          <%= link_to_function "remove" , "$(this).up('.interest_field').remove();$$('.interest_field').length == 0 ? $('cancel_add_interest').click() : false;" %>
        </p>
      </div>
    </div>
    <p>
      <%= link_to_function "+ Add another interest", "addNewInterestMultipleForm()" %>
    </p>
    <p>
    <div style="float:left;width:150px;vertical-align:top;"></div>
    <div style="float:right;width:350px;" ><%= submit_tag "Create", :onclick => "return validateAllInterestFields()" %> or <%= link_to_function 'Cancel', "$(\"add_interest_form\").innerHTML = \"\"", :id => "cancel_add_interest" %> <span id="add_new_interest_form_process_ajax_loader" style="display: none"><%= image_tag "LoaderIcon.gif", :style => "width:15px" %></span></div>
    <div style="clear:both;"></div>
  </p>
<% end %>
</div>
