<style>
  .fieldWithErrors{
    display: inline;
  }
</style>

<div style="width:520px;padding: 40px 0 0 130px;">
  <% form_for(@endorsement) do |f| %>
    <%= f.error_messages %>
    <p>
    <div style="float: right; width:350px;">Your name : <%= current_user.name %></div>
    <div style="clear:both;"></div>
  </p>
  <p>
  <div style="float: right; width:350px;">Your contact : <%= current_user.email %></div>
  <div style="clear:both;"></div>
  </p>
  <p>
  <div style="float: right; width:350px;">You are endorsing :  <%= link_to @user_request_endorse_name, user_path(@user_request_endorse), :popup => true %></div>
  <div style="clear:both;"></div>
  </p>
  <p>
  <div style="float: right; width:350px;"><%= f.text_field :job_title %></div>
  <div style="clear:both;"></div>
  </p>
  <p>
  <div style="float: right; width:350px;"><%= f.text_field :company_name %></div>
  <div style="clear:both;"></div>
  </p>
  <p>
  <div style="float: right; width:350px;"><%= f.text_field :relation_type %></div>
  <div style="clear:both;"></div>
  </p>
  <p>
  <div style="float: right; width:350px;"><%= f.text_field :years_relation %></div>
  <div style="clear:both;"></div>
  </p>
  <p>
  <div style="float: right; width:350px;"><%= f.text_area :description, :rows => 4 %></div>
  <div style="clear:both;"></div>
  </p>
  <p>
    <%= f.hidden_field :endorser_id %>
    <%= f.hidden_field :user_id %>
  </p>
  <p>
  <div style="float:left;width:150px;vertical-align:top;" ></div>
  <div style="float: right; width:350px;"> <%= f.submit "Endorse" %> or <%= link_to 'Cancel', user_path(current_user) %></div>
  <div style="clear:both;"></div>
  </p>
<% end %>
</div>
