<p>
  <b>Company:</b>
  <%=h @experience.company %>
</p>

<p>
  <b>Company url:</b>
  <%=h @experience.company_url %>
</p>

<p>
  <b>Industry:</b>
  <%=h @experience.industry %>
</p>

<p>
  <b>Functional area:</b>
  <%=h @experience.functional_area %>
</p>

<p>
  <b>Country:</b>
  <%=h @experience.country %>
</p>

<p>
  <b>City:</b>
  <%=h @experience.city %>
</p>

<p>
  <b>Title:</b>
  <%=h @experience.title %>
</p>

<p>
  <b>Career level:</b>
  <%=h @experience.career_level %>
</p>

<p>
  <b>From month:</b>
  <%=h @experience.from_month %>
</p>

<p>
  <b>From year:</b>
  <%=h @experience.from_year %>
</p>

<p>
  <b>End month:</b>
  <%=h @experience.end_month %>
</p>

<p>
  <b>End year:</b>
  <%=h @experience.end_year %>
</p>

<p>
  <b>Current:</b>
  <%=h @experience.current %>
</p>

<p>
  <b>Description:</b>
  <%=h @experience.description %>
</p>

<p>
  <b>From date:</b>
  <%=h @experience.from_date %>
</p>

<p>
  <b>End date:</b>
  <%=h @experience.end_date %>
</p>


<%= link_to 'Edit', edit_experience_path(@experience) %> |
<%= link_to 'Back', experiences_path %>