<p>
  <b>Country:</b>
  <%=h @education.country %>
</p>

<p>
  <b>Organization:</b>
  <%=h @education.organization %>
</p>

<p>
  <b>Degree:</b>
  <%=h @education.degree %>
</p>

<p>
  <b>Major:</b>
  <%=h @education.major %>
</p>

<p>
  <b>From month:</b>
  <%=h @education.from_month %>
</p>

<p>
  <b>From year:</b>
  <%=h @education.from_year %>
</p>

<p>
  <b>End month:</b>
  <%=h @education.end_month %>
</p>

<p>
  <b>End year:</b>
  <%=h @education.end_year %>
</p>

<p>
  <b>Description:</b>
  <%=h @education.description %>
</p>

<p>
  <b>From date:</b>
  <%=h @education.from_date %>
</p>

<p>
  <b>End date:</b>
  <%=h @education.end_date %>
</p>

<%= link_to 'Edit', edit_education_path(@education) %> |
<%= link_to 'Back', educations_path %>