<h1>Editing award_user</h1>

<% form_for(@award_user) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :user %><br />
	<%= f.collection_select :user_id, User.find(:all, :order => "login"), :id, :login %>
  </p>
  <p>
    <%= f.label :award %><br />
	<%= f.collection_select :award_id, Award.find(:all, :order => "name"), :id, :name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @award_user %> |
<%= link_to 'Back', award_users_path %>